APP_BASE_URL=/Bloodbank
APP_TIMEZONE=Asia/Kathmandu
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=smartblood_connect
DB_USER=root
DB_PASS=
SMARTBLOOD_PYTHON=python
MAP_PROVIDER=osm
MAP_GOOGLE_API_KEY=
MAP_OSM_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
MAP_DEFAULT_LAT=27.7172
MAP_DEFAULT_LNG=85.3240
MAP_DEFAULT_ZOOM=12
