{% extends 'base.html' %}
{% block content %}
<h3>Create Request</h3>
<form method='post'>
  {% csrf_token %}
  <input class='form-control mb-2' name='blood_group' placeholder='Blood Group'>
  <input class='form-control mb-2' name='units_needed' type='number' placeholder='Units Needed'>
  <input class='form-control mb-2' name='urgency' placeholder='urgent'>
  <input class='form-control mb-2' name='hospital_name' placeholder='Hospital Name'>
  <input class='form-control mb-2' name='hospital_address' placeholder='Hospital Address'>
  <input class='form-control mb-2' name='latitude' placeholder='Latitude'>
  <input class='form-control mb-2' name='longitude' placeholder='Longitude'>
  <button class='btn btn-danger'>Submit</button>
</form>
{% endblock %}
